adjustText==0.8b2
agutil==4.1.1
aiohttp==3.8.1
aiohttp-session==2.12.0
aiosignal==1.2.0
ansi2html==1.7.0
anyio==3.4.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==0.24.0
astroid==2.15.6
AsymTools2 @ file:///home/cchu/cgaprojects_ibm_tAML_analysis/src/AsymTools2
async-timeout==4.0.2
asyncinit==0.2.4
asynctest==0.13.0
attrs==21.4.0
-e git+ssh://git@github.com/getzlab/auto_call_purity.git@decb9d2110c7b2b7322ee27944ba8665c031f369#egg=auto_call_purity&subdirectory=../../../src/auto_call_purity
avro==1.11.1
azure-core==1.26.4
azure-identity==1.12.0
azure-storage-blob==12.15.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
biopython==1.81
bleach==4.1.0
bokeh==1.4.0
boto3==1.26.108
botocore==1.29.108
Brlapi==0.6.7
Brotli==1.0.9
bx-python==0.8.13
cached-property==1.5.2
cachetools==4.2.4
capy @ file:///home/cchu/cgaprojects_ibm_tAML_analysis/src/CApy
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
chrome-gnome-shell==0.0.0
click==8.0.3
cmake==3.22.2
cnv-suite==0.1.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
comut==0.0.3
crayons==0.4.0
crcmod==1.7
cryptography==40.0.1
cupshelpers==1.0
cycler==0.11.0
dash==2.1.0
dash-bio==1.0.2
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
datacache==1.1.5
dataframe-image==0.1.1
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
distro==1.3.0
distro-info==0.21+deb10u1
docopt==0.6.2
ecos==2.0.10
entrypoints==0.3
filelock==3.9.0
firecloud==0.16.35
firecloud-dalmatian==0.0.17
Flask==2.0.3
Flask-Compress==1.10.1
fonttools==4.28.5
frozenlist==1.3.3
fsspec==2021.11.1
gcsfs==2021.11.1
GEOparse==2.0.3
gffpandas==1.2.0
git-filter-repo==2.38.0
google-api-core==2.3.2
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
gprofiler==1.2.2
gtfparse==1.2.1
h5py==3.6.0
hail==0.2.112
hound==1.0.1
humanize==1.1.0
hurry.filesize==0.9
idna==3.3
-e git+ssh://git@github.com/getzlab/cgaprojects_ibm_tAML_analysis.git@57fa8736936ccec72e9fda07c917dcb60ba0e00d#egg=igv_remote&subdirectory=src/igv_remote
imageio==2.16.1
imgkit==1.2.2
importlib-metadata==4.10.0
importlib-resources==5.4.0
iniconfig==1.1.1
install==1.3.5
intervaltree==3.1.0
ipykernel==6.16.2
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.0.2
isodate==0.6.1
isort==5.10.1
itsdangerous==2.0.1
janus==1.0.0
jedi==0.18.1
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.3.3
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyter-dash==0.4.1
jupyter-server==1.13.1
jupyterlab==3.2.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.2
jupyterlab-widgets==1.0.2
JupyterReviewer==0.0.5
kaleido==0.2.1
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
louis==3.8.0
Mako==1.0.7
MarkupSafe==2.0.1
mat4py==0.5.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
memoized-property==1.0.3
missingpy==0.2.0
mistune==0.8.4
mock==4.0.3
msal==1.21.0
msal-extensions==1.0.0
multidict==5.2.0
-e git+ssh://git@github.com/getzlab/MutationReviewer.git@9cf95a7f21c49f513388d5ead55bc9430d1d0e4b#egg=MutationReviewer&subdirectory=../../../src/MutationReviewer
natsort==8.1.0
nbclassic==0.3.4
nbclient==0.5.9
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nose==1.3.7
notebook==6.4.6
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.1.1
orjson==3.8.9
osqp==0.6.2.post5
packaging==21.3
palettable==3.3.0
pandarallel==1.6.4
pandas==1.3.5
pandocfilters==1.5.0
ParmEd==4.0.0
parsimonious==0.10.0
parso==0.8.3
patsy==0.5.2
pdf2image==1.16.0
periodictable==1.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pipreqs==0.4.11
platformdirs==2.6.2
plotly==5.9.0
pluggy==1.0.0
poppler-utils==0.1.0
port-for==0.6.1
portalocker==2.7.0
progressbar33==2.4
prometheus-client==0.12.0
prompt-toolkit==3.0.24
protobuf==3.20.2
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
py4j==0.10.9.5
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyBigWig==0.3.18
pycairo==1.16.2
pycosat==0.6.3
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.9.8
pycups==1.9.73
pycurl==7.43.0.2
pydot==1.4.2
pyensembl==2.0.1
pyfaidx==0.6.4
Pygments==2.11.1
PyGObject==3.30.4
PyJWT==2.6.0
pylint==2.17.5
pyparsing==3.0.6
pyreadr==0.4.4
pyrsistent==0.18.0
pysam==0.20.0
pysmbc==1.0.15.6
pyspark==3.3.2
pytest==7.0.1
python-apt==1.8.4.3
python-dateutil==2.8.2
python-debian==0.1.35
python-json-logger==2.0.7
python-poppler==0.2.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pyxdg==0.25
PyYAML==6.0
pyzmq==22.3.0
qdldl==0.1.5.post0
-e git+ssh://git@github.com/broadinstitute/pyqtl.git@ee52a198889cda8657fa734a50e059b62bc91486#egg=qtl&subdirectory=../../../src/pyqtl
regex==2022.10.31
reportlab==3.6.12
requests==2.27.0
requests-oauthlib==1.3.0
retrying==1.3.3
rich==12.6.0
rmate==1.0.3
rpy2==3.1.0
rsa==4.6
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
scikit-image==0.15.0
scikit-learn==1.0.2
scikit-survival==0.17.0
scipy==1.7.3
seaborn==0.11.2
SecretStorage==2.3.1
Send2Trash==1.8.0
serializable==0.2.1
signatureanalyzer @ file:///home/cchu/cgaprojects_ibm_tAML_analysis/src/getzlab-SignatureAnalyzer
simplegeneric==0.8.1
simplejson==3.17.6
six==1.12.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
statsmodels==0.13.1
tables==3.7.0
tabulate==0.9.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
tinytimer==0.0.0
tomli==2.0.1
tomlkit==0.12.1
-e git+ssh://git@github.com/getzlab/tonly2.git@56765ab993be26f4feba73036f5aef0ef4bcd410#egg=tonly2&subdirectory=../../../src/tonly2
torch==1.11.0
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
twobitreader==3.1.7
typechecks==0.1.0
typed-ast==1.5.1
typing_extensions==4.4.0
tzdata==2021.5
tzlocal==4.1
unattended-upgrades==0.1
urllib3==1.26.7
uvloop==0.17.0
virtualenv==20.17.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.3
widgetsnbextension==3.5.2
wrapt==1.13.3
yarg==0.1.9
yarl==1.7.2
zipp==3.7.0
